*~
.DS_Store    

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Parser/nbproject/private/
/Compiler/nbproject/private/
/Compiler/build/
/Parser/build/
/Parser/dist/
Compiler/.DS_Store
Compiler/lib/.DS_Store
Parser/.DS_Store
